.singleRun {
  margin-top: 50px;
  width: 800px;
  height: 150px;
  border-color: white;

  border-style: solid; /* Add this line */
  border-width: 1px; /* Optional: Adjust the width as needed */
}

.runContainer {
  max-width: 150px; /* Adjust as needed */
  overflow-wrap: break-word;
}
.scroll {
  width: 800px;
  margin: auto;
  margin-top: 50px;
}
