.navcontainer{
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin: auto;
}
.navcontainer a{
    text-decoration: none;
}

.navbox{
    border: 2px solid red;
}

.navthing{
    padding-left: 61px;
    
}


